<div class="card border-warning shadow" >
   <div class="card-header bg-warning"><h5>{{ da.name }}</h5></div>
    <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">{{ da.storage_type.name }}</h6>
    <a class="btn btn-sm btn-primary"
       href="{% url 'datacatalog:access-view' da.pk %}" class="card-link">View record</a>
    <a class="btn btn-sm btn-info"
       href="{{ da.shareable_link }}" class="card-link">Go to data</a>
    <p class="card-text">{{ da.filepaths|linebreaks }}</p>
  </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"></li>
      <li class="list-group-item">ID: {{ da.unique_id }}</li>
      <li class="list-group-item">Steward: <a href="mailto:{{ da.steward_email }}">{{ da.steward_email }}</a></li>
    </ul>
</div>
