<div class="card {% if da.data_retained %}border-danger{% else %}border-warning{% endif %} shadow" >
   <div class="card-header bg-warning">
       <h5>{{ da.name }}
           {% if da.data_retained %}
             <span class="badge badge-danger">ARCHIVED</span>
           {% endif %}
       </h5>
   </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">{{ da.storage_type.name }}
            <span class="badge badge-secondary" style="float:right">DA{{ da.pk }}</span>
        </h6>
        <a class="btn btn-sm btn-info"
           href="{% url 'datacatalog:access-view' da.pk %}" class="card-link">View record</a>
        {% if da.shareable_link %}
            <a class="btn btn-sm btn-info"
               href="{{ da.shareable_link }}"
               target="_blank"
               class="card-link">Go to data</a>
        {%  endif %}

        {% if da.fileupload_log %}
            <br/><br/>
            <h6>Files uploaded:</h6>
            <p class="card-text">{{ da.fileupload_log | linebreaks }}</p>
        {% endif %}

        <p class="card-text">{{ da.filepaths|linebreaks }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"></li>
      {% if da.unique_id %}
        <li class="list-group-item">ID: {{ da.unique_id }}</li>
      {% endif %}
      <li class="list-group-item">Steward: <a href="mailto:{{ da.steward_email }}">{{ da.steward_email }}</a></li>
    </ul>
</div>
