{% extends 'datacatalog/base-catalog.html' %}

{% load static %}
{% load bootstrap4 %}

{% load crispy_forms_tags %}

{% block content %}

    {{ form.media }}

    <form enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        {% crispy form %}
    </form>

    <script>

        function Hide() {

            var storage = document.getElementById('id_storage_type');
            if(["1", "2", "8"].includes((storage.options[document.getElementById('id_storage_type').selectedIndex].value))){
                document.getElementById('div_id_unique_id').style.display="none"
                document.getElementById('div_id_shareable_link').style.display="block"
                document.getElementById('div_id_filepaths').style.display="none"
                document.getElementById('div_id_multifiles').style.display="none"
                document.getElementById('div_id_public').style.display="block"
            }
            else if (["3", "5", "6"].includes((storage.options[document.getElementById('id_storage_type').selectedIndex].value))){
                document.getElementById('div_id_unique_id').style.display="none"
                document.getElementById('div_id_shareable_link').style.display="none"
                document.getElementById('div_id_filepaths').style.display="block"
                document.getElementById('div_id_multifiles').style.display="none"
                document.getElementById('div_id_public').style.display="none"
            }
            else if (storage.options[document.getElementById('id_storage_type').selectedIndex].value == "4"){
                document.getElementById('div_id_unique_id').style.display="block"
                document.getElementById('div_id_shareable_link').style.display="none"
                document.getElementById('div_id_filepaths').style.display="none"
                document.getElementById('div_id_multifiles').style.display="none"
                document.getElementById('div_id_public').style.display="none"
            }
            else if (storage.options[document.getElementById('id_storage_type').selectedIndex].value == "7"){
                document.getElementById('div_id_unique_id').style.display="block"
                document.getElementById('div_id_shareable_link').style.display="none"
                document.getElementById('div_id_filepaths').style.display="block"
                document.getElementById('div_id_multifiles').style.display="none"
                document.getElementById('div_id_public').style.display="none"
            }
            else if (storage.options[document.getElementById('id_storage_type').selectedIndex].value == "9"){
                document.getElementById('div_id_unique_id').style.display="none"
                document.getElementById('div_id_shareable_link').style.display="none"
                document.getElementById('div_id_filepaths').style.display="none"
                document.getElementById('div_id_multifiles').style.display="block"
                document.getElementById('div_id_public').style.display="none"
            }

        }

    </script>

 </script> <script type="text/javascript"> var el = document.getElementById("id_storage_type"); el.addEventListener("change", Hide);</script>

{% endblock %}