{% extends 'datacatalog/base-catalog.html' %}

{# Load the tag library #}
{% load bootstrap4 %}
{% load project_tags %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<style>
/* styling of the tabs*/
#exTab1 .tab-content {
  color : black;
  padding : 5px 15px;
}

#exTab1 .nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}
</style>

{### Project Header ###}

<div class="card border-primary" style="width: 100%;">
    <div class="card-header">
     <h1>
        {{ project.name }}

        {% if request.user|has_group:"datacatalog_editor" or request.user.username == project.pi.cwid or request.user.username == project.admin.cwid or request.user == retentionrequest.record_author %}
        <span style="float:right">
            <a 
               class="btn btn-primary"
               href="{% url 'datacatalog:project-update' project.pk %}">
               Update project details
            </a>
            <a 
               class="btn btn-warning"
               href="{% url 'datacatalog:access-add' %}">
               Add data location
            </a>
        </span>
        {% endif %}
     </h1>
    </div>

    <ul style="list-style-type:none">
        {% if project.pi %}
            <li><span class="text-info">Principal Investigator: </span> {{ project.pi }}</li>
        {% endif %}
        {% if project.admin %}
            <li><span class="text-info">Administrator:</span> {{ project.admin }}</li>
        {% endif %}
    </ul>


    {% if project.description %}
          <div class="card-body">
            <p>{{ project.description|linebreaks }}</p>
          </div>
    {% endif %}

    <div class="card-footer">
        Grant ID: {{ project.funding_id }}; Completion: {{ project.completion }}
    </div>

</div>

<p></p>

{### Tiles of all datasets and storage items  ###}
<div class="card-columns">
{% for da in project.dataaccess_set.all %}
    {% include "datacatalog/card_dataaccess.html" %}
{% endfor %}
</div>
    <p></p>
    <p></p>
    <h4>Dataset retention requests</h4>
    {% with project.retentionrequest_set.all as retention_requests %}
        {% include 'datacatalog/table_retention_requests.html' %}
    {% endwith %}
    <p></p>
    <p></p>
    <h4>Dataset catalog entries</h4>
{% include "datacatalog/table_datasets.html" %}


{% endblock %}

