{% extends 'datacatalog/base-catalog.html' %}

{# Load the tag library #}
{% load bootstrap4 %}
{% load project_tags %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<style>
/* styling of the tabs*/
#exTab1 .tab-content {
  color : black;
  padding : 5px 15px;
}

#exTab1 .nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}
</style>

{### Project Header ###}
{% if accessdenied %}
    <h1>You do not have permission to view this request. If you require access, please contact
        <a href="emailto:dcore-ticket@med.cornell.edu"
           target="_blank">dcore-ticket@med.cornell.edu</a> </h1>
{% endif %}

<h1>
    Retention Request: {{ retentionrequest.name }}
    {% if retentionrequest.locked is not True %}
        {% if request.user|has_group:"datacatalog_editor" or request.user.username == retentionpi.cwid or request.user.username == retentionadmin.cwid or request.user == retentionrequest.record_author %}
        <span style="float:right">
            <a type="button"
               class="btn btn-primary"
               href="{% url 'datacatalog:retention-update' retentionrequest.pk %}">
               Update project details
            </a>
        </span>
        {% endif %}
    {% else %}
        <span class="badge badge-danger">Request is now locked</span>
    {% endif %}
</h1>

    <h3>Milestone: {{ retentionrequest.get_milestone_display }}
        <span class="badge badge-secondary" style="float:right">RR{{ retentionrequest.pk }}</span>
    </h3>
    <h3><small class="text-muted">
                {{ retentionrequest.milestone_pointer }} ({{ retentionrequest.milestone_date }})
        </small>
    </h3>

<table class="table table-striped table-hover table-sm">
    <tr><td>Project</td>
        <td><a href="{% url 'datacatalog:project-view' retentionrequest.project.pk %}">
                    {{ retentionrequest.project }}</a>
        </td></tr>
    <tr><td>PI</td><td>{{ retentionpi }}</td></tr>
    <tr><td>Admin</td><td>{{ retentionadmin }}</td></tr>
    <tr><td>Retention requested by</td><td>{{ retentionrequest.record_author }}</td></tr>
    <tr><td>Request created</td><td>{{ retentionrequest.record_creation }}</td></tr>
    <tr><td>Last update</td><td>{{ retentionrequest.record_update }}</td></tr>
    {% if retentionrequest.ticket %}
        <tr><td>ServiceNow Ticket</td><td>{{ retentionrequest.ticket }}</td></tr>
    {% endif %}
    <tr><td>Comments</td><td>{{ retentionrequest.comments }}</td></tr>
</table>

{### Tiles of all storage items  ###}
<div class="card-columns">
    {% for da in retentionrequest.to_archive.all %}
        {% include "datacatalog/card_dataaccess.html" %}
    {% endfor %}
</div>

{% endblock %}

