{% extends 'datacatalog/base-catalog.html' %}

{# Load the tag library #}
{% load bootstrap4 %}
{% load project_tags %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<style>
/* styling of the tabs*/
#exTab1 .tab-content {
  color : black;
  padding : 5px 15px;
}

#exTab1 .nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}
</style>

{### Project Header ###}
{% if accessdenied %}
    <h1>You do not have permission to view this request. If you require access, please contact
        <a href="emailto:dcore-ticket@med.cornell.edu"
           target="_blank">dcore-ticket@med.cornell.edu</a> </h1>
{% endif %}

<h2>
    Retention Request: {{ retentionrequest.name }}
</h2>


    {% if retentionrequest.verified %}
        <h2><span class="badge badge-success">Request has been verified</span></h2>
    {% endif %}

    <h3>Milestone: {{ retentionrequest.get_milestone_display }}
        <span class="badge badge-secondary" style="float:right">RR{{ retentionrequest.pk }}</span>
    </h3>
    <h3><small class="text-muted">
                {{ retentionrequest.milestone_pointer }} ({{ retentionrequest.milestone_date }})
        </small>
    </h3>

<h2>
    {% if retentionrequest.locked is not True %}
        {% if request.user|has_group:"datacatalog_editor" or request.user.username == retentionpi.cwid or request.user.username == retentionadmin.cwid or request.user == retentionrequest.record_author %}
        <span>
            <a
               class="btn btn-primary"
               href="{% url 'datacatalog:retention-update' retentionrequest.pk %}">
               Update retention request details
            </a>
        </span>
        {% endif %}
    {% else %}
        <span class="badge badge-danger">Request is now locked</span>
    {% endif %}
    <a  class="btn btn-info" href="{% url 'datacatalog:methodfile-view' retentionrequest.pk %}"
        target="_blank">View methods file
    </a>
</h2>

<table class="table table-striped table-hover table-sm">
    <tr><td>Project</td>
        <td><a href="{% url 'datacatalog:project-view' retentionrequest.project.pk %}">
                    {{ retentionrequest.project }}</a>
        </td></tr>
    <tr><td>PI</td><td>{{ retentionpi }}</td></tr>
    <tr><td>Admin</td><td>{{ retentionadmin }}</td></tr>
    <tr><td>Retention requested by</td><td>{{ retentionrequest.record_author.first_name }}
                                            {{ retentionrequest.record_author.last_name }}
                                            ({{ retentionrequest.record_author.username }})</td></tr>
    <tr><td>Request created</td><td>{{ retentionrequest.record_creation }}</td></tr>
    <tr><td>Last update</td><td>{{ retentionrequest.record_update }}</td></tr>
    {% if retentionrequest.ticket %}
        <tr><td>ServiceNow Ticket</td><td>{{ retentionrequest.ticket }}</td></tr>
    {% endif %}
    <tr><td>Comments</td><td>{{ retentionrequest.comments }}</td></tr>
</table>

{### Tiles of all storage items  ###}
<div class="card-columns">
    {% for da in retentionrequest.to_archive.all %}
        {% include "datacatalog/card_dataaccess.html" %}
    {% endfor %}
</div>

    {% if request.user|has_group:"datacatalog_editor" %}
    <div class="row">
        <a
           class="btn btn-primary mr-1"
           href="{% url 'datacatalog:retention-update' retentionrequest.pk %}">
           Update retention request details
        </a>

        <form action="" method="post">
          {% csrf_token %}
          <input name="marklocked" type="submit" class="btn btn-info mr-1" value="Lock submission" />
        </form>

        <form action="" method="post">
          {% csrf_token %}
          <input name="markunlocked" type="submit" class="btn btn-warning mr-1" value="Unlock submission" />
        </form>

        <form action="" method="post">
          {% csrf_token %}
          <input name="markarchived" type="submit" class="btn btn-danger mr-1" value="Mark data as archived" />
        </form>

        <form action="" method="post">
          {% csrf_token %}
          <input name="markverified" type="submit" class="btn btn-success mr-1" value="Mark as verified" />
        </form>
    </div>
        <br/><br/>
    {% endif %}

{% endblock %}

