{% extends 'datacatalog/base-catalog.html' %}

{# Load the tag library #}
{% load bootstrap4 %}
{% load project_tags %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<style>
/* styling of the tabs*/
#exTab1 .tab-content {
  color : black;
  padding : 5px 15px;
}

#exTab1 .nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}
</style>



<h1>
    {{ datauseagreement.title }} 
<small class="text-muted">{{ datauseagreement.duaid }}</small>
</h1>
{% if datauseagreement.publisher %}
<h2>
    <small class="text-muted">{{ datauseagreement.publisher }}</small>
</h2>
{% endif %}

</br>

{% if request.user|has_group:"datacatalog_editor" or request.user.username == datauseagreement.pi.cwid or request.user == datauseagreement.record_author %}
    <a  class="btn btn-primary" href="{% url 'datacatalog:dua-update' datauseagreement.pk %}">Update DUA details</a>
{% endif %}
{% if  datauseagreement.documentation %}
    <a  class="btn btn-info"
        href="{% url 'datacatalog:dua-doc-view' datauseagreement.pk %}"
        target="_blank">View governance doc</a>
{% endif %}

</br></br>


<h4>description</h4>
<p> {{ datauseagreement.description|linebreaks }}</p>

<table class="table table-striped table-hover">
    <tr>
        <td>Start date</td>
        <td>{{ datauseagreement.start_date }}</td>
    </tr>
    <tr>
        <td>End date</td>
        <td>{{ datauseagreement.end_date }}</td>
    </tr>
    <tr>
        <td>PI</td>
        <td>{{ datauseagreement.pi }}</td>
    </tr>
    <tr>
        <td>Mixing of different datasets allowed?</td>
        <td>{{ datauseagreement.mixing_allowed }}</td>
    </tr>
    <tr>
        <td>Data destruction required?</td>
        <td>{{ datauseagreement.destruction_required }}</td>
    </tr>

</table>

<div class="container col-12">
{% if datauseagreement.reuse_scope %}
    <div class="container col-6">
     <div class="card card-warning">
      <div class="card-header">
        <h4>Data Reuse Scope</h4>
      </div>
      <div class="card-body">

            <p> {{ datauseagreement.reuse_scope|linebreaks }}</p>
       
      </div>
     </div>
    </div>
{% endif %}
{% if datauseagreement.storage_requirements %}
    <div class="container col-6">
     <div class="card card-warning">
      <div class="card-header">
        <h4>Data Storage Requirements</h4>
      </div>
      <div class="card-body">

            <p> {{ datauseagreement.storage_requirements|linebreaks }}</p>
       
      </div>
     </div>
    </div>
{% endif %}
{% if datauseagreement.access_conditions %}
    <div class="container col-6">
     <div class="card card-warning">
      <div class="card-header">
        <h4>Data Access Conditions</h4>
      </div>
      <div class="card-body">

            <p> {{ datauseagreement.access_conditions|linebreaks }}</p>
       
      </div>
     </div>
    </div>
{% endif %}
</div>

</br>

{% if request.user|has_group:"datacatalog_editor" %}
<a  class="btn btn-primary" href="{% url 'datacatalog:dua-update' datauseagreement.pk %}">Update DUA details</a>
{% endif %}

</br></br>


<h2>Datasets for {{ datauseagreement }}</h2>

    {% with datauseagreement.datasets.all as dataset_list %}
        {% include 'datacatalog/table_datasets.html' %}
    {% endwith %}


{% endblock %}

