{% extends 'datacatalog/base-catalog.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<style>
/* styling of the tabs*/
#exTab1 .tab-content {
  color : black;
  padding : 5px 15px;
}

#exTab1 .nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}
</style>



<h1>
    {{ dataaccess.name }} 
<small class="text-muted">${{ dataaccess.access_cost }}</small>
</h1>


<table class="table table-striped table-hover">
    <tr>
        <td>DUA required?</td>
        <td>{{ dataaccess.dua_required }}</td>
    </tr>
    <tr>
        <td>Project description required?</td>
        <td>{{ dataaccess.prj_desc_required }}</td>
    </tr>
    <tr>
        <td>System description required?</td>
        <td>{{ dataaccess.sys_desc_required }}</td>
    </tr>
    <tr>
        <td>will other WCM people or departments be required in order to gain access?</td>
        <td>{{ dataaccess.help_required }}</td>
    </tr>
    <tr>
        <td>Are the data publicly available?</td>
        <td>{{ dataaccess.public }}</td>
    </tr>
    <tr>
        <td>Typical number of months required to gain access:</td>
        <td>{{ dataaccess.time_required }}</td>
    </tr>

</table>
    
  
{% if request.user|has_group:"datacatalog_editor" %}
<a type="button" class="btn btn-primary" href="{% url 'datacatalog:access-update' dataaccess.pk %}">Update access details</a>
{% endif %}

</br></br>

{% if request.user|has_group:"dua_viewing_privileges" %}
<h2>DUAs with this data access</h2>

    {% with dataaccess.datauseagreement_set.all as dua_list %}
        {% include 'datacatalog/table_duas.html' %}
    {% endwith %}
{% endif %}

{% endblock %}

