{% extends 'datacatalog/base-catalog.html' %}
{% load project_tags %}


{% block content %}

<style>
/* styling of the tabs*/
#exTab1 .tab-content {
  color : black;
  padding : 5px 15px;
}

#exTab1 .nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}
</style>

    {# Provide buttons for major actions within the catalog #}
<div class="card-deck">
    {% if user.is_authenticated %}
         {# DATA RETENTION PROJECT VIEW #}
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Data Retention Dashboard</h5>
            <p class="card-text">View and update your projects and datasets.</p>
          </div>
          <div class="card-footer">
            <a  class="btn btn-success w-100"
               href="{% url 'datacatalog:projects-byuser' %}" >
               VIEW MY PROJECTS</a>
          </div>
        </div>

         {# NEW DATA RETENTION REQUEST #}
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Request Data Retention</h5>
            <p class="card-text">Use our retention request wizard to archive data associated
                                 with a completed project milestone.</p>
          </div>
          <div class="card-footer">
            <a  class="btn btn-danger w-100"
               href="{% url 'datacatalog:wizard-milestone' %}" >
               NEW RETENTION REQUEST</a>
          </div>
        </div>

         {# DATA CATALOG #}
         <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">View Datasets</h5>
            <p class="card-text">View details of {{ ds_count }} publicly listed datasets used for research
                                at WCM.</p>
          </div>
          <div class="card-footer">
            <a  class="btn btn-primary w-100"
               href="{% url 'datacatalog:datasets' %}" >
               DATASETS</a>
          </div>
        </div>
    {% endif %}
</div>

{% if request.user|has_group:"dua_viewing_privileges" %}
    </br>
    </br>
  <a  class="btn btn-primary" href="{% url 'datacatalog:retention-active' %}">
      View {{ unlocked_requests }} unlocked requests</a>
  <a  class="btn btn-primary" href="{% url 'datacatalog:duas' %}">
      View {{ dua_count }} data use agreements</a>
  <a  class="btn btn-primary" href="{% url 'datacatalog:access' %}">
      View {{ access_count }} data locations</a>
{% endif %}

</br>
</br>
<h3>Recent updates and additions:</h3>

{% for dataset in dataset_list %}
    <div class="container">
     <div class="card my-3 shadow">
      <div class="card-header">
        <a href="{% url 'datacatalog:dataset-view' dataset.pk %}">
            <h4>{{ dataset.title }}</h4>
        </a>
      </div>
      <div class="card-body">
      
                  
            {% if dataset.publisher %}
            <h5>
                Data Provider: 
                <a href="{% url 'datacatalog:provider-view' dataset.publisher.pk %}">
                    {{ dataset.publisher }}
                </a>
            </h5>
            {% endif %}

            <p> {{ dataset.description|linebreaks }}</p>

            <table class="table table-striped table-hover table-sm">
                <tr>
                    <td>Record Period Start</td>
                    <td>{{ dataset.period_start }}</td>
                </tr>
                <tr>
                    <td>Record Period End</td>
                    <td>{{ dataset.period_end }}</td>
                </tr>
                <tr>
                    <td>Keywords</td>
                    <td>{% for kw in dataset.keywords.all %}
                            <a href="{% url 'datacatalog:keyword-view' kw.pk %}">
                                <span class="badge badge-info">{{ kw.keyword }}</span>
                            </a>
                        {% endfor %}
                    </td>
                </tr>

            </table>

       
      </div>
     </div>
    </div>
{% endfor %}  

{% endblock %}