{% extends 'base.html' %}

{% block content %}
<h1>
All {{ keyword_list|length }} Keywords:
</h1>

<table class="table table-striped table-hover" id="DatasetTable">
<thead class="thead-default">
    <tr>
        <th>Keyword</th>
        <th>Definition</th>
    </tr>
</thead>

{% for kw in keyword_list %}
    <tr>
    <td><a href="{% url 'datacore:keyword-view' kw.pk %}">{{ kw.keyword }}</a></td>
    <td> {{ kw.definition }}</td>
    </tr>
{% endfor %}
</table>

<a type="button" class="btn btn-primary" href="{% url 'datacatalog:keyword-add' %}">Add new keyword</a>

{% endblock content %}