{% extends 'datacatalog/base-catalog.html' %}

{# Load the tag library #}
{% load bootstrap4 %}
{% load project_tags %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<style>
/* styling of the tabs*/
#exTab1 .tab-content {
  color : black;
  padding : 5px 15px;
}

#exTab1 .nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}
</style>



<h1>
    {{ project_list|length  }} project{{ project_list|length|pluralize:",s" }} for {{ request.user.first_name }} {{ request.user.last_name }}
</h1>
<h2>
        <a 
           class="btn btn-primary"
           href="{% url 'datacatalog:project-add' %}">Create new project</a>
        <a 
           class="btn btn-primary"
           href="{% url 'datacatalog:access-add' %}">Add new data location</a>
        <a 
           class="btn btn-danger"
           href="{% url 'datacatalog:retention-add' %}">Request data retention</a>
        <a
           class="btn btn-danger"
           href="{% url 'datacatalog:wizard-milestone' %}">Retention request wizard</a>
</h2>

<div class="container">
    {% if mypiprojects|length %}
        <div class="alert alert-info" role="alert">My projects</div>
        {% with mypiprojects as project_list %}
            {% include 'datacatalog/carddeck_projects.html' %}
        {% endwith %}
    {% endif %}

    {% if myotherpisprojects|length %}
        <div class="alert alert-info" role="alert">Projects as co-PI</div>
        {% with myotherpisprojects as project_list %}
            {% include 'datacatalog/carddeck_projects.html' %}
        {% endwith %}
    {% endif %}

    {% if myothereditorsprojects|length %}
        <div class="alert alert-info" role="alert">other projects with editing rights</div>
        {% with myothereditorsprojects as project_list %}
            {% include 'datacatalog/carddeck_projects.html' %}
        {% endwith %}
    {% endif %}

</div> {# container div #}

    <p></p>
    <p></p>
    <h4>Dataset retention requests</h4>
        {% include 'datacatalog/table_retention_requests.html' %}
{% endblock %}