{% extends 'datacatalog/base-catalog.html' %}


{% block content %}

<style>
/* styling of the tabs*/
#exTab1 .tab-content {
  color : black;
  padding : 5px 15px;
}

#exTab1 .nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}
</style>

<a type="button" class="btn btn-primary" href="{% url 'datacatalog:datasets' %}">View datasets</a>

<a type="button" class="btn btn-primary" href="{% url 'datacatalog:providers' %}">View data providers</a>

<a type="button" class="btn btn-primary" href="{% url 'datacatalog:duas' %}">View data use agreements</a>

<a type="button" class="btn btn-primary" href="{% url 'datacatalog:access' %}">View data access requirements</a>

<a type="button" class="btn btn-primary" href="{% url 'datacatalog:keywords' %}">View keywords</a>

    <div class="container">
     <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Data Catalog Panel 1</h4>
      </div>
      <div class="panel-body">
      
        <p>Data Catalog description 1</p>
       
      </div>
     </div>
    </div>
  

{% endblock %}