
<table class="table table-striped table-hover" id="DatasetTable">
<thead class="thead-default">
    <tr>
        <th>Name</th>
        <th>Public dataset?</th>
        <th>DUA required?</th>
        <th>Project description required? </th>
        <th>System description required?</th>
        <th>Security assistance required?</th>
        <th>Access cost</th>
    </tr>
</thead>

{% for ac in access_list %}
    <tr>
    <td><a href="{% url 'datacatalog:dataset-view' ac.pk %}">{{ ac.name }}</a></td>
    <td>{{ ac.public }}</td>
    <td>{{ ac.dua_required }}</td>
    <td>{{ ac.prj_desc_required }}</td>
    <td>{{ ac.sys_desc_required }}</td>
    <td>{{ ac.help_required }}</td>
    <td>{{ ac.access_cost }}</td>
    </tr>
{% endfor %}
</table>

