{% extends 'datacatalog/base-catalog.html' %}

{% load static %}
{% load bootstrap4 %}

{% load crispy_forms_tags %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h2>DATA RETENTION REQUEST WIZARD</h2>
        <h3>Step 2 of 4: Specify project</h3>
    </div>
    <div class="card-body">
        <p>
            Choose and existing project you are associated with, or create a new project.
        </p>
    </div>
</div>

    <br/>

<div class="card-deck">
    <div class="card shadow">
        <div class="card-header bg-light">
            <h3>I have an existing project:</h3>
        </div>
        <div class="card-body">

            {{ form_existing.media }}

            <form action="" method="post">
                {% csrf_token %}
                {% crispy form_existing %}
            </form>
        </div>

    </div>

    <div class="card shadow">
        <div class="card-header bg-light">
            <h3>I will create a new project:</h3>
        </div>
        <div class="card-body">

            {{ form_new.media }}

            <form action="" method="post">
                {% csrf_token %}
                {% crispy form_new %}
            </form>
        </div>
    </div>
</div>

<br/>

{% endblock %}