{% extends 'datacatalog/base-catalog.html' %}

{% load static %}
{% load bootstrap4 %}

{% load crispy_forms_tags %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h2>DATA RETENTION REQUEST WIZARD</h2>
        <h3>Step 1 of 4: Retention Milestone</h3>
    </div>
    <div class="card-body">
        <h6>Overview</h6>
        <p>
            As per the Cornell University
            <a href="https://policy.cornell.edu/policy-library/research-data-retention" target="_blank">
                Data Retention Policy</a>, long term integrity of the research record requires that
            research data be preserved in sufficient detail and for an adequate period of time to enable appropriate
            responses to questions about accuracy, authenticity, primacy, and compliance with laws and regulations
            governing the research.
        </p>
{{ retentionrequest.get_milestone_context }}
        <p>
            This form helps WCM principal investigators to comply with policy. Data to be submitted is intended to
            support only the research milestone attested here, and is not intended as general backup. Once archived
            by WCM, decisions about retrieval and any associated costs will be made by the Research Compliance Officer
            according to the specific situation.
        </p>

        <p>
            After this form is submitted, we will contact you within 10 business days about next steps.
        </p>
        <h6>Selecting milestones</h6>
        <p>
            Please specify the milestone that has triggered this retention request. The milestone pointer needed depends
            on the milestone type:
        </p>
        <ul>
            <li>Project completion: The WRG project ID</li>
            <li>Publication: The DOI of the published article</li>
            <li>PI departure: The HR offboarding form ID</li>
        </ul>
        <p>The milestone date refers to the expected completion of the milestone, not the desired date of retention.</p>

    </div>
</div>

    <br/>

{{ form.media }}

<form action="" method="post">
	{% csrf_token %}
    {% crispy form %}
</form>



{% endblock %}