{% extends 'datacatalog/base-catalog.html' %}

{% load static %}
{% load bootstrap4 %}

{% load crispy_forms_tags %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h2>DATA RETENTION REQUEST WIZARD</h2>
        <h3>Step 3 of 4: Specify data locations and upload methods file</h3>
    </div>
    <div class="card-body">

        <p>
            Please select all the data locations you wish to have retained, which are associated with your
            project and milestone. Use the form
            on the left to create additional descriptions of data locations, if necessary.
        </p>
        <p>
            Additionally, please attach a methods file describing all analytical steps required to produce the
            provided output data from the provided raw data. Each step should include a description, software name,
            version, parameters, as applicable. An optional methods file template is
            <a href="https://medcornell.sharepoint.com/:x:/s/DataCore/ESDrN8oHNbFAgKAkQ3Ot2KcBfRy1y7B0MCW3on9Ib_P7Yw?e=AU2e1e"
               target="_blank">available for download</a>. Note that published methods
            do not usually contain the information required here.
        </p>
    </div>
</div>

    <br/>

<div class="card-deck">
    <div class="card shadow">
        <div class="card-header bg-light">
            <h3>1. If needed, create additional data location descriptions:</h3>
        </div>
        <div class="card-body">


            {{ form_new.media }}

            <form action="" method="post">
                {% csrf_token %}
                {% crispy form_new %}


            </form>

        </div>

    </div>

    <div class="card shadow">
        <div class="card-header bg-light">
            <h3>2. Select all relevant data locations and upload methods file:</h3>
        </div>
        <div class="card-body">

            {{ form_existing.media }}

            <form enctype="multipart/form-data"  action="" method="post">
                {% csrf_token %}
                {% crispy form_existing %}
            </form>
        </div>
    </div>
</div>

<br/>

    <script>
    function Hide() {

        var storage = document.getElementById('id_storage_type')

        if(["1", "2", "8"].includes((storage.options[document.getElementById('id_storage_type').selectedIndex].value))){
                document.getElementById('div_id_unique_id').style.display="none"
                document.getElementById('div_id_shareable_link').style.display="block"
                document.getElementById('div_id_filepaths').style.display="none"

        }
        else if (["3", "5", "6", "7"].includes((storage.options[document.getElementById('id_storage_type').selectedIndex].value))){
                document.getElementById('div_id_unique_id').style.display="none"
                document.getElementById('div_id_shareable_link').style.display="none"
                document.getElementById('div_id_filepaths').style.display="block"

        }
        else if (storage.options[document.getElementById('id_storage_type').selectedIndex].value == "4"){
                document.getElementById('div_id_unique_id').style.display="block"
                document.getElementById('div_id_shareable_link').style.display="none"
                document.getElementById('div_id_filepaths').style.display="none"

        }
        else if (storage.options[document.getElementById('id_storage_type').selectedIndex].value == "9"){
                document.getElementById('div_id_unique_id').style.display="none"
                document.getElementById('div_id_shareable_link').style.display="none"
                document.getElementById('div_id_filepaths').style.display="none"

        }

    }; </script>

<script type="text/javascript"> window.addEventListener("load", Hide); </script> <script type="text/javascript"> var el = document.getElementById("id_storage_type"); el.addEventListener("change", Hide);</script>

{% endblock %}