{% extends 'datacatalog/base-catalog.html' %}

{% load static %}
{% load bootstrap4 %}

{% load crispy_forms_tags %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h2>DATA RETENTION REQUEST WIZARD</h2>
        <h3>Step 1 of 4: Retention Milestone</h3>
    </div>
    <div class="card-body">
        <h6>Overview</h6>
        <p>
            This form helps WCM principal investigators to comply with the Cornell University
            <a href="https://policy.cornell.edu/policy-library/research-data-retention" target="_blank">
                Data Retention Policy</a>. Data to be submitted is intended to
            support only the research milestone attested here, and is not intended as general backup. Once archived
            by WCM, decisions about retrieval and any associated costs will be made by the Research Compliance Officer
            according to the specific situation.
        </p>

        <p>
            After this form is submitted, we will contact you within 10 business days about next steps.
        </p>


    </div>
</div>

    <br/>

    <script>
    function Field_switch() {

        var label = document.getElementById('id_milestone')

        if(label.options[document.getElementById('id_milestone').selectedIndex].value == "PU"){
                document.getElementsByTagName('label')[1].innerHTML="DOI of the publication"
                document.getElementsByTagName('label')[2].innerHTML="Publication date"
        }
        else if (label.options[document.getElementById('id_milestone').selectedIndex].value == "CO"){
                document.getElementsByTagName('label')[1].innerHTML="WRG project ID"
                document.getElementsByTagName('label')[2].innerHTML="Project/Grant end date"
        }
        else if (label.options[document.getElementById('id_milestone').selectedIndex].value == "TR"){
                document.getElementsByTagName('label')[1].innerHTML="HR offboarding form ID"
                document.getElementsByTagName('label')[2].innerHTML="Departure date"
        }

    };  </script>

{{ form.media }}

<form action="" method="post">
	{% csrf_token %}
    {% crispy form %}

<script type="text/javascript"> window.addEventListener("load", Field_switch); </script> <script type="text/javascript"> var el = document.getElementById("id_milestone"); el.addEventListener("change", Field_switch);</script>

{% endblock %}